extends layout

block content
  div(class="container-fluid")
  
    if (err)
        div
            h2(style = "color: red;")= err
  
    p Created by Qian Shao.
    h1(class="header")
      | FreeCodeCamp API Projects: URL Shortener Microservice
    blockquote
      p User stories:
      ul
        li 用户在浏览器输入该地址时，把一个合法的 URL 作为参数，返回一个 JSON 格式的段地址
        li 如果用户输入的是一个无效的 URL 地址（不符合 http://www.example.com 格式）作为参数，则返回错误
        li 如果用户输入前边生成的段地址，则会重定向到相应的合法地址
    h3 Example creation usage:
    code.
        https://little-url.herokuapp.com/new/https://www.google.com
    br
    code.
        https://little-url.herokuapp.com/new/http://freecodecamp.com/news
    h3 Example creation output
    code.
      {
        "original_url":"https://www.google.com/",
        "short_url":"https://little-url.herokuapp.com/2871"
      }
    h3 Usage:
    code https://little-url.herokuapp.com/2871
    h3 Will redirect to:
    code.
        https://www.google.com/
